body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita lo scrolling orizzontale */
}

.hero {
    position: relative;
    width: 100%;
    height: 450px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start;
    margin: 0;
    top: 0;
}



.hero-overlay {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.table {
    background-color: none;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}


.album-cover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}


td {
    padding: 10px;
    vertical-align: middle;
}

.artist-logo {
    border-radius: 50%;
    width: 70px;
}

 h2, h3, h4, h5 {
    color: white;
}

#playBtn {
    border-radius: 50%;
    background-color: #1fd760;
    
}

.play-btn {
    font-size: 2em;
}

.bi-play-fill {
    color: black;
    align-items: center;
    justify-content: center;

}

#followBtn {
    border: solid;
    border-radius: 5%, 5%, 5%, 5%;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 20px; /* Riduce l'altezza e aumenta la larghezza */
    font-size: 12px;
    font-weight: bolder;
    height: 30px; /* Altezza più schiacciata */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

#optionMenu {
    color: white;
}

.table {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    background-color: transparent !important;
    border-collapse: collapse;
}


.table td {
    background-color: transparent !important;
    border: none !important;
    padding: 10px 0;
}

#contMain {
    background: linear-gradient(to bottom,  
        rgba(40, 40, 40, 1) 0%,   
        rgba(20, 20, 20, 0.95) 30%,  
        rgba(10, 10, 10, 0.98) 70%,  
        rgba(5, 5, 5, 1) 100%  
    );
}

.hero h1 {
    font-size: 80px !important; 
    font-weight: 900 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
