#menuSidebar,#activity{
 background-color: #000;
}

#contMain{
   background-color: #171717;

}

#contMenuMobile{
    position: fixed;
    bottom: 0;
} 

#barPlayback{
    height: 50px;
    background-color: #171717;
}



#menuMobile{
    background-color: rgba(0, 0, 0, 0.594);
    font-size: 10px;
    display: flex;
}

#menuMobile > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

#menuMobile i{
    font-size: 20px;
}
#menuMobile p{
    margin: 0;
}

@media (max-width: 430px) {
    #menuSidebar, #activity{
        display: none;
    }

}

@media (min-width: 430px) {
    #menuMobile{
        display: none;
        
    }
}




.arrow i{
    color: #ffffffd5;
    width: 25px;
    height: 25px;
    background-color: #0b0b0b74;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgArrow{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;
}
.imgArrow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#headerMain a{
    text-decoration: none;
    color: #fff;
}

#headerUserMain{
    background-color: #0b0b0b74;
    border-radius: 20px;
    padding: 3px 10px 3px 3px;
    font-size: 0.7em;
}

#activity{
    color: #fff;
}
#activity button{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
}